# Default ignored files
/shelf/
.idea/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/var/home/princess/Desktop/Python/Notes/notes
/var/home/princess/Desktop/Python/Notes/theme_state.json
/var/home/princess/Desktop/Python/Notes/font_state.json
*.png
/var/home/princess/Desktop/Python/Notes/notes_stable.py
